<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
    Please do work through the Getting Started soon by Guntupalli  sivasankar</div>


</body>
</html>
